<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deletar</title>
</head>
<body>
<h1>Realmente deseja deletar {{pessoa.nome}} ?</h1>

<form method="post">
    {% csrf_token %}
    <button>sim</button>
    <a href="{% url 'list'%}">Não</a>
    <!--<button>não</button> -->
</form>
</body>
</html>