<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body>
   <table>
       <thead>
       <tr>
           <th>#</th>
           <th>Nome</th>
           <th>Sobrenome</th>
           <th>Idade</th>


       </tr>
       </thead>
       <tbody>

       {% for pessoa in pessoa %}
       <tr>
           <td><a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a></td>
           <td><a href="{% url 'delete' pessoa.id %}">Deletar</a></td>
          <!-- <p>{{pessoa.sobrenome}}</p>
           <p>{{pessoa.idade}}</p> -->
            <td><a href="{%url 'create' %}">Criar Usuário</a> </td>

            {% endfor %}
       </tr>

       </tbody>
   </table>

</body>
</html>